# ==============================================
# S835 Kernel 4.4 FBE 救命規則
# 允許關鍵進程使用 sys_admin 來設定檔案加密
# ==============================================

# 2. 讓編譯器可以寫入加密的快取檔 (解決 oat_file size 錯誤)
allow dex2oat self:capability sys_admin;
