<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.pixel.setupwizard.overlay.yoshino"> <overlay
        android:targetName="PixelSetupWizard"
        android:targetPackage="com.google.android.pixel.setupwizard"
        android:priority="9999"
        android:isStatic="true" />
</manifest>